<%- include header %>
 <%
    var date=new Date(post.time);
 %>
<%
    if(user&&post.name==user.name){
%>
<p>
    <span><a class="edit" href="/edit/<%=post.name%>/<%=post.title%>">编辑</a></span>
    <span><a class="edit" href="/remove/<%=post.name%>/<%=post.title%>">删除</a></span>
</p>
<%}%>
<p class="info">
    作者:<a href="/u/<%=post.name%>"><%=post.name%></a>
    日期:<%=date.getFullYear()+"-"+date.getMonth()+"-"+date.getDay()+"  "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds()%>
</p>
<p><%- post.post%></p>
<%- include  comment %>
<%- include footer %>
